APP_ENV=dev
APP_TRACE=0

RABBITMQ_DEFAULT_USER=auditbase
RABBITMQ_DEFAULT_PASS=secret
RABBITMQ_DSN="amqp://auditbase:secret@auditbase_rabbit:5672/"
MYSQL_HOST=0.0.0.0
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=auditbase
MYSQL_USER=auditbase
MYSQL_PASSWORD=secret

AUDITBASE_DB_DSN="auditbase:secret@(auditbase_db:3306)/auditbase?parseTime=true"

EVENTS_EXCHANGE=auditbase.events
EVENTS_EXCHANGE_TYPE=direct
EVENTS_ROUTING_KEY=auditbase.v1.events
EVENTS_QUEUE_NAME=auditbase.v1.events
EVENTS_ERROR_QUEUE_NAME=auditbase.v1.events.errors
EVENTS_REQUEUE_ROUTING_KEY=auditbase.v1.events.errors
EVENTS_MAX_REQUEUE=2

REDIS_HOST=auditbase_redis
REDIS_PORT=6379
REDIS_DB=1

REST_API_PORT=3000
HEALTH_PORT=3000